<app-admin></app-admin>

<div class="row  mt-5 w-75 justify-content-center shadow-lg p-3 mb-5 rounded " >
  <form>
    <fieldset class="">
      <legend class="text-center">Creation de Competence</legend>
      <div class="form-group">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"> Groupe Competence</label><br>
        <select name="competence" id="competence" class="form-control">
          <option value="1">Développer le back-end d'une application</option>
          <option value="2">Développer une application web</option>
          <option value="3">Développer le front-end d'une application</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1"> Libelle</label><br>
        <input type="email" class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               placeholder="libelle">
      </div>

      <div class="form-group">
        <div class="card row">
          <div class="card text-white  mb-3 " style="max-width: 30rem;">
            <div class="card-body">
              <div class="card-header mt-5">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <button class="nav-link  btn btn-outline-warning rounded" data-toggle="tab" href="#niveau1">niveau1</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link btn btn-outline-warning rounded"  data-toggle="tab"  href="#niveau2">niveau2</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link active btn btn-outline-warning rounded" data-toggle="tab"  href="#niveau3">niveau3</button>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade show active " >
                    <textarea name=""  cols="30" rows="3"></textarea></div></div>

                <div class="tab-pane fade" id="profile">
                  <div class="tab-pane fade " >
                    <textarea name=""  cols="30" rows="3"></textarea></div></div>

                <div class="tab-pane fade" id="profiles">
                  <div class="tab-pane fade " >
                    <textarea name=""  cols="30" rows="3"></textarea></div></div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div><button class="btn btn-outline-warning rounded">Soumettre</button></div>
    </fieldset>
  </form>

</div>


