<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<h2>Liste de Groupe de Competence</h2>
<div >
  <div >
    <div class="card-group">
      <div class="card">
        <div class="card-header text-center" >Libelle
          <a href="#" ><i class="icon icon-trash"></i></a>
          <a href="#"> <i class="icon icon-edit"  ></i></a>
        </div>
        <div class="card-body">
          <p class="card-text">descriptions</p>
          <hr>
          <p class="card-text">competence</p>
          <hr>
          <p class="card-text">tags</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" >libelle
          <a href="#" ><i class="icon icon-trash"></i></a>
          <a href="#"> <i class="icon icon-edit"  ></i></a>
        </div>
        <div class="card-body">
          <p class="card-text">descriptions</p>
          <hr>
          <p class="card-text">competence</p>
          <hr>
          <p class="card-text">tags</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center" >Libelle
          <a href="#" ><i class="icon icon-trash"></i></a>
          <a href="#"> <i class="icon icon-edit"  ></i></a>
        </div>
        <div class="card-body">
          <p class="card-text">descriptions</p>
          <hr>
          <p class="card-text">competence</p>
          <hr>
          <p class="card-text">tags</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center">Libelle
          <a href="#" ><i class="icon icon-trash"></i></a>
          <a href="#"> <i class="icon icon-edit"  ></i></a></div>
        <div class="card-body">
          <p class="card-text">descriptions</p>
          <hr>
          <p class="card-text">competence</p>
          <hr>
          <p class="card-text">tags</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center" >Libelle
          <a href="#" ><i class="icon icon-trash"></i></a>
          <a href="#"> <i class="icon icon-edit"  ></i></a></div>
        <div class="card-body">
          <p class="card-text">descriptions</p>
          <hr>
          <p class="card-text">competence</p>
          <hr>
          <p class="card-text">tags</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center" >Libelle
          <a href="#" ><i class="icon icon-trash"></i></a>
          <a href="#"> <i class="icon icon-edit"  ></i></a></div>
        <div class="card-body">
          <p class="card-text">descriptions</p>
          <hr>
          <p class="card-text">competence</p>
          <hr>
          <p class="card-text">tags</p>
        </div>
      </div>

    </div>
  </div>
</div>

