
<app-admin></app-admin>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="margin: 5%">
<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <p>Coding For Your Better Live YFD!</p>
      <div ><img src= "/assets/photo/ling.jpg" alt="photo"/></div>
    </div>

    <div class="col-md-9 register-right shadow-lg p-3 mb-5 bg-white rounded ">
      <form action="">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home"
             role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Création d'un user</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group " style="width: 100%; height: 50%; background: -webkit-linear-gradient(left , #DE6262, #FFB88C);border-radius: 50%">
                <img  src="" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom*" value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Prenom *" value="" />
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder= " Email *" value="" />
              </div>

              <div class="form-group">
                <div class="maxl">
                  <label class="radio inline">
                    <input type="radio" name="gender" value="homme" >
                    <span> Homme </span>
                  </label>
                  <label class="radio inline">
                    <input type="radio" name="gender" value="femme">
                    <span>Femme </span>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
              <div class="form-group">
                <select name="profils" id="idProfils">
                  <option value="">Profils </option>
                  <option value="1">ADMIN</option>
                  <option value="2">FORMATEUR</option>
                  <option value="3">CM</option>
                </select>
                  </div>
              </div>

              <div class="form-group">
                <input type="file" class="form-control" placeholder="choisir un ficher *" value="" />
              </div>
              <input type="submit" class="btn btn-warning" style="background: #FFB88C"  value="Enregistrer"/>
            </div>
          </div>

        </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
