
<div class="card-header text-center mt-5" style="background: -webkit-linear-gradient(left, #FFB88C, #DE6262)">Liste  Groupe de Compétence</div>
<button class="btn btn-outline-danger "
        routerLinkActive="active"
        routerLink="/groupecompetences/add"
        style="margin: 1%">Creer Groupe Competence</button>

<table class="table mt-3 shadow-lg p-3 mb-5 bg-white rounded w-90 " >

    <div class="shadow-lg p-4 rounded-3 mb-5"  *ngFor="let g of tabs">

     <button mdbBtn style="background: -webkit-linear-gradient(left, #DE6262, #FFB88C);
             color: white" class=" waves-light w-75"
             type="button" (click)="test.toggle()" mdbWavesEffect>{{g.libelle}}
     </button>
      <div class="float-right">
        <a routerLinkActive="active" routerLink="/groupecompetences/edit/{{g.id}}">
          <button class="btn btn-sm btn-outline-danger float-right"
                  data-toggle="tooltip"
                  data-placement="top" title="Modifier">
            <i class="fas fa-edit"></i></button></a>
        <button  (click)="deleteById(g.id)"
                 class="btn btn-sm btn-outline-info float-right"
                 data-toggle="tooltip"
                 data-placement="top" title="Supprimer">
          <i class="fas fa-minus-circle"></i></button>
      </div>
     <div class="" mdbCollapse #test="bs-collapse" >
       <h2 class="card-title">Descriptif:</h2>
       <p>{{g.descriptif}}</p>

       <h2 class="card-title">Compétences:</h2>
       <div class="shadow-lg p-1 mb-2 text-center"
            *ngFor="let c of g.competences">
         <ul class="list-group">
           <li class="list-group-item">{{c.libelle}}</li>
         </ul>
       </div>
     </div>
   </div>

</table>

