
<mat-grid-list cols="4">
  <mat-grid-tile><img src="assets/photo/diop.jpeg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/logos.jpeg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/SA.jpeg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/Promo3.png" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/codes.png" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/SA.jpeg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/ling.jpg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/Promo3.png" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/logos.jpeg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/ling.jpg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/logos.jpeg" alt=""></mat-grid-tile>
  <mat-grid-tile><img src="assets/photo/ling.jpg" alt=""></mat-grid-tile>
</mat-grid-list>

<!--<div>
  <video src="" controls></video>
</div>-->
