<app-admin></app-admin>
<div class="accordion col-md-6 p-2" id="myAccordion">

  <div class="card">

    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button type="button"
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapseOne">Referentiels</button></h2></div>

    <div class="row text-center float-right">
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
        <div class="card-body">
          <button class="tablinks col-md-2 p-2 bg-warning" onclick="openCity(event, 'Niveau1')">
            Developpeur-se Web et Mobil</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau2')">
            REaliser un site internet a partir de Wordpresse</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau3')">
            Coder et deployer une application simple</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau4')">
            Methode d'agile gestion et amorsage d'un projet</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau1')">
            Referent-e digital</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau2')">
            Competence numeriques fondementale</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau3')">
            Technique d'assistance informatique</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau4')">
            Technique supperieur de systeme et reseaux</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau1')">
            Objet connectés</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau2')">
            Developpeur-se data</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau3')">
            Developpeur-se data et intelligence artificiel</button>

          <button class="tablinks col-md-2 p-2 bg-info" onclick="openCity(event, 'Niveau4')">
            analiste sybersecurité</button>
        </div>

      </div>

    </div>

  </div>


</div>
