
<main class="login-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" >
          <div class="card-header text-center" style="background: -webkit-linear-gradient(left, #FFB88C, #DE6262)">
            Création d'un Groupe de Compétence</div>
          {{formGrouCompetence.value | json}}
          <div class="card-body">
            <form [formGroup]="formGrouCompetence" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Libelle</label>
                <div class="col-md-6">
                  <input type="text"
                         id="libelle"
                         class="form-control"
                         name="libelle"
                         required autofocus
                         [formControlName]="'libelle'">
                </div>
              </div>

              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Descriptif</label>
                <textarea class="form-control col-md-6 col-form-label text-md-right"
                          id="descriptif"
                          rows="3"
                          name="descriptif"
                          [formControlName]="'descriptif'"></textarea>
              </div>


              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Competences</label>
                <select class=" form-control form-select col-md-6"
                        name="competences"
                        [formControlName]="'competences'"
                        multiple>
                  <option *ngFor="let c of competences" value="{{c.id}}">{{c.libelle}}</option>
                </select>
              </div>


              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-danger"
                [disabled]="!formGrouCompetence.valid">
                  Enregistrer
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

</main>
