
<div class="card-header text-center mt-5" style="background: -webkit-linear-gradient(left, #FFB88C, #DE6262)">Liste  Référentiels</div>
<button class="btn btn-outline-danger float-left"
        routerLinkActive="active"
        routerLink="/referentiels/add"
        style="margin: 1%">Creer Référentiels</button>
<table class="table mt-5 shadow-lg p-3  bg-white rounded w-90 ">

    <div class="shadow-lg mt-4 p-4 rounded-3 mb-4 ml-4 mr-4"
         *ngFor="let tab of referentiels | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
      <div class="float-right">
        <a routerLinkActive="active" routerLink="/referentiels/edit/{{tab.id}}">
          <button class="btn btn-sm btn-outline-info float-right"
                  data-toggle="tooltip" data-placement="top" title="Modifier">
            <i class="fas fa-edit"></i></button></a>
        <button  (click)="deleteById(tab.id)"
          class="btn btn-sm btn-outline-danger float-right"
                data-toggle="tooltip" data-placement="top" title="Supprimer">
          <i class="fas fa-minus-circle"></i></button>

      </div>
      <button mdbBtn style="background: -webkit-linear-gradient(left, #DE6262, #FFB88C);
             color: white" class=" waves-light w-75"
              type="button" (click)="test.toggle()" mdbWavesEffect>{{tab.libelle}}
      </button>

        <div class="" mdbCollapse #test="bs-collapse" >
          <h2 class="card-title">Presentation:</h2>
          <p>{{tab.presentation}}</p>

          <!-- <h2 class="card-title">Programme:</h2>
           <p><img src="{{tab.programme}}" alt=""></p>-->

          <!--  <h2 class="card-title">Programme:</h2>
            <a href="data:application/pdf;base64,[base64]" download="file.pdf">openFile</a>-->
          <!--<p><button class="btn btn-outline-success" (click)="openProgramme()">openFile</button></p>-->
          <h2 class="card-title">Programme:</h2>
          <iframe [id]="'iframe_'+i" class="w_500" width="{{myWidth}}" height="{{myHeight}}"></iframe>
          <!--  <pdf-viewer [src]="base64ToArrayBuffer(tab.programme)"
                        [render-text]="true"
                        style="display: block;"
            ></pdf-viewer>-->

            <h2 class="card-title">CritereAdmission:</h2>
              <p>{{tab.critereAdmission}}</p>

              <h2 class="card-title">CritereEvaluation:</h2>
              <p>{{tab.critereEvaluation}}</p>

              <h2 class="card-title">GroupeCompetence:</h2>
              <div class="shadow-lg p-1 mb-2 text-center" >
                <ul class="list-group">
                  <li class="list-group-item"  *ngFor="let g of tab.groupeCompetences"> {{g.libelle}}</li>
                </ul>
              </div>

            </div>

        </div>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
