
<h5 class="mt-5">Liste de Référentiels </h5>
<button class="btn btn-outline-danger float-left"
        routerLinkActive="active"
        routerLink="/referentiels/add"
        style="margin: 1%">Creer Référentiels</button>
<table class="table mt-5 ">

  <div class="row shadow-lg p-3 mb-5 bg-white rounded ">
    <div class="row col-sm-3 mb-2 m-0" *ngFor="let tab of tabs">
      <div id="accordion">
        <div class="card-header"> <h6>Libelle
          <button class="btn btn-sm btn-outline-danger float-right"
                  data-toggle="tooltip" data-placement="top" title="supprimer">
            <i class="fas fa-minus-circle"></i></button>
          <button class="btn btn-sm btn-outline-warning float-right"
                  data-toggle="tooltip" data-placement="top" title="modifier">
            <i class="fas fa-edit"></i></button></h6></div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseOne"

                      aria-expanded="true"
                      aria-controls="collapseOne">
                Preésentation
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show"
               aria-labelledby="headingOne"
               data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit,

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo">
                Groupe Competences
              </button>
            </h5>
          </div>
          <div id="collapseTwo"
               class="collapse"
               aria-labelledby="headingTwo"
               data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit,
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFor">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo">
                Programme
              </button>
            </h5>
          </div>
          <div id="collapseFor"
               class="collapse"
               aria-labelledby="headingTwo"
               data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit,
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree">
                Critère d'évaluation
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse"
               aria-labelledby="headingThree"
               data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit,
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThre">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree">
                Critère d'admission
              </button>
            </h5>
          </div>
          <div id="collapseThre" class="collapse"
               aria-labelledby="headingThree"
               data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit,
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</table>
