


  <div class=" table-responsive shadow-lg p-3 mb-5 bg-white rounded w-75 " style="margin: 4%">

    <div>
      <button class="btn btn-outline-danger"
              routerLinkActive="active"
              routerLink="/profils/add"
              style="margin: 2%">Creer Profils</button>

    <table class="table">
      <thead>
      <tr style="background: -webkit-linear-gradient(left , #DE6262, #FFB88C)">
        <th scope="col">id</th>
        <th scope="col">Libelle</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
       <tr *ngFor="let profil of profils ">
         <th scope="row">{{profil.id}}</th>
         <td>{{profil.libelle}}</td>

         <button (click)="deleteProfilsById(profil.id)"
                 class="btn btn-sm btn-outline-danger float-right"
                 data-toggle="tooltip"
              data-placement="top" title="supprimer">
       <i class="fas fa-minus-circle"></i></button>
         <a routerLinkActive="active" routerLink="/profils/edit/{{profil.id}}">
           <button class="btn btn-sm btn-outline-info float-right" data-toggle="tooltip"
              data-placement="top" title="modifier"><i class="fas fa-edit"></i></button></a>
    </tr>
    </tbody>
  </table>
    </div>
</div>

