
<div class="row  justify-content-center " style=" margin-top: 5%;">
<table class="table "  >
  <thead>
  <tr style="background: -webkit-linear-gradient(left , #DE6262, #FFB88C)">
    <th scope="col"></th>
    <th scope="col">id</th>
    <th scope="col">Libelle</th>
    <th scope="col">Action1</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"></th>
    <td>1</td>
    <td>Otto</td>
    <button class="btn btn-outline-warning">Details</button>
    <button class="btn btn-outline-danger">Delete</button>
  </tr>
  <tr>
    <th scope="row"></th>
    <td>2</td>
    <td>Thornton</td>
    <button class="btn btn-outline-warning">Details</button>
    <button class="btn btn-outline-danger">Delete</button>
  </tr>
  <tr>
    <th scope="row"></th>
    <td>3</td>
    <td>doudou</td>
    <button class="btn btn-outline-warning">Details</button>
    <button class="btn btn-outline-danger">Delete</button>
  </tr>
  </tbody>
</table>
  </div>
