<div class="table-responsive" style="margin: 2%">
    <div>
      <button class="btn btn-outline-danger "
              routerLinkActive="active"
              routerLink="/users/add"
              style="margin: 1%">Creer Utilisateur</button>
      <table class="table table-sm ">

        <thead>
        <tr style="background: #FFB88C">
          <th scope="col">Id</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Username</th>
          <th scope="col">Telephone</th>
          <th scope="col">Profils</th>
          <th scope="col">Photo</th>
          <th scope="col">Genre</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tab of tabs">
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <button class="btn btn-sm btn-outline-info float-right" data-toggle="tooltip"
                  data-placement="top" title="modifier">
            <i class="fas fa-minus-circle"></i></button>
          <button class="btn btn-sm btn-outline-danger float-right" data-toggle="tooltip"
                  data-placement="top" title="supprimer">
            <i class="fas fa-edit"></i></button>
        </tr>

        </tbody>
      </table>
    </div>
</div>
