{{formGrouCompetence.value|json}}
<main class="login-form">
  <div class="container">
    <div class="row justify-content-center shadow-lg">
      <div class="col-md-10 shadow-lg mt-5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" >
          <div class="card-header text-center shadow-lg"
               style="background: #FFB88C">Modification d'un Groupe de Compétence</div>
          <div class="card-body">
            <form [formGroup]="formGrouCompetence" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Libelle</label>
                <div class="col-md-6">
                  <input type="text"
                         id="libelle"
                         class="form-control shadow-lg"
                         name="libelle"
                         [formControlName]="'libelle'">
                </div>
              </div>

              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Descriptif</label>
                <textarea class="form-control shadow-lg col-md-6 col-form-label text-md-right"
                          id="descriptif"
                          rows="3"
                          name="descriptif"
                          [formControlName]="'descriptif'"></textarea>
              </div>

              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Competences</label>
                <angular2-multiselect class=" form-control shadow-lg col-md-6"
                                      [data]="competences" [(ngModel)]="selectedItems"
                                      [settings]="dropdownSettings"
                                      [formControlName]="'competences'" >
                </angular2-multiselect>
              </div>

              <div class="col-md-6  offset-md-4">
                <button type="submit" class="btn btn-danger">
                  Modifier
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
