



<div class="row  mt-5 w-75 justify-content-center shadow-lg p-3 mb-5 rounded " >
  <form>
    <fieldset class="">
      <legend class="text-center">Creation d'une promotion</legend>
      <div class="form-group">
        <div class="form-group">
          <label for="exampleSelect1">Choisir une langue</label>
          <select class="form-control" id="exampleSelect2">
            <option>Français</option>
            <option>chinois</option>
            <option>Anglais</option>
            <option>Arabe</option>
            <option>Spagnol</option>
          </select>
        </div>

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"> Titre</label>
        <input type="email" class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               placeholder="titre">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Description de promotion</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Lieu de Promotion</label>
        <input type="text" class="form-control" id="exampleInputPassword4" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Reference Agate</label>
        <input type="text" class="form-control" id="exampleInputPassword2" placeholder="">
      </div>

      <div class="form-group">
        <label for="exampleSelect1"> Choix de la fabrique</label>
        <select class="form-control" id="exampleSelect1">
          <option>Sonatel accademy</option>
          <option>Sonatel</option>
          <option>Accademy</option>
        </select>
      </div>
      <div class="row ">
        <div class="form-group">
          <label for="exampleInputPassword1">Date debut </label>
          <input type="date" class="form-control"
                 id="exampleInputPasswor"
                 placeholder="Password"></div>
        <div class="form-group ml-3">
          <label for="exampleInputPassword1">Date fin</label>
          <input type="date" class="form-control"
                 id="exampleInputPasswor1"
                 placeholder="Password"></div></div>

      <div class="accordion col-md-12 p-2" id="myAccordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button type="button"
                      class="btn btn-link color-text-dark"
                      data-toggle="collapse"
                      data-target="#collapseOne">Referentiels</button></h2></div>

          <div class="row text-center float-right">
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
              <div class="card-body">
                <button class="tablinks col-md-2 p-2 bg-warning">Realiser un site internet a partir de Wordpresse</button>
                <button class="tablinks col-md-2 p-2 bg-warning " >Methode d'agile gestion et amorsage d'un projet</button>
                <button class="tablinks col-md-2 p-2 bg-warning" >Developpeur-se data et intelligence artificiel</button>
                <button class="tablinks col-md-2 p-2 bg-warning" >Technique supperieur de systeme et reseaux</button>
                <button class="tablinks col-md-2 p-2 bg-warning">Coder et deployer une application simple</button>
                <button class="tablinks col-md-2 p-2 bg-warning" >Competence numeriques fondementale</button>
                <button class="tablinks col-md-2 p-2 bg-warning" >Technique d'assistance informatique</button>
                <button class="tablinks col-md-2 p-2 bg-warning">Developpeur-se Web et Mobil</button>
                <button class="tablinks col-md-2 p-2 bg-warning" >analiste sybersecurité</button>
                <button class="tablinks col-md-2 p-2 bg-warning" >Objet connectés</button>
                <button class="tablinks col-md-2 p-2 bg-warning" >Developpeur-se data</button>
                <button class="tablinks col-md-2 p-2 bg-warning" >Referent-e digital</button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div><input type="file"> </div>
      <div><button class="btn btn-outline-warning  rounded mt-5">Soumettre</button></div>

    </fieldset>
  </form>
</div>





