
<div class="container ">
  {{formPromo.value|json}}
  <div class="container">
    <div class="row justify-content-center w-75 rounded shadow-lg mt-5  col-lg-auto" >
      <div class="mt-5  shadow-lg  rounded">

    <div class="card-header shadow-lg text-center"
         style="background: -webkit-linear-gradient(left, #FFB88C, #DE6262)">
      Création d'une Promotion</div>

    <form [formGroup]="formPromo" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Choisir une langue</label>
          <select class="form-control"
                  [formControlName]="'langue'">>
            <option>Français</option>
            <option>chinois</option>
            <option>Anglais</option>
            <option>Arabe</option>
            <option>Spagnol</option>
          </select>
        </div>

      <div class="form-group">
        <label for="titre"><h2>titre</h2></label>
        <input type="text"
               class="form-control shadow-lg"
               id="titre"
               required autofocus
               title="Entrer le titre"
               [formControlName]="'titre'">
      </div>
      <div class="form-group">
        <label ><h2>Description de promotion</h2></label>
        <input type="text"
               class="form-control shadow-lg"
               placeholder="Description"
               title="Entrer le titre"
               [formControlName]="'description'">
      </div>
      <div class="form-group">
        <label >Lieu de Promotion</label>
        <input type="text"
               class="form-control shadow-lg"
               placeholder="lieu"
               title="Entrer le lieu"
               [formControlName]="'lieu'">
      </div>
      <div class="form-group">
        <label >Reference Agate</label>
        <input type="text"
               class="form-control shadow-lg"
               placeholder="Reference Agate"
               title="Entrer le reference Agate"
               [formControlName]="'referenceAgate'">
      </div>

      <div class="form-group ">
        <label > Choix de la fabrique</label>
        <select class="form-control" [formControlName]="'fabrique'">
          <option>Sonatel accademy</option>
          <option>Sonatel</option>
          <option>Accademy</option>
        </select>
      </div>
      <div class="">
        <div class="form-group">
          <label>Date debut </label>
          <input type="date"
                 class="form-control shadow-lg"
                 placeholder="Date debut"
                 [formControlName]="'dateDebut'"></div>
        <div class="form-group ml-3">
          <label>Date fin</label>
          <input type="date"
                 class="form-control shadow-lg"
                 placeholder="Date fin"
                 [formControlName]="'dateFin'"></div>
      </div>

      <div class="accordion col-md-12 p-2" id="myAccordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button type="button"
                      class="btn btn-link color-text-dark"
                      data-toggle="collapse"
                      data-target="#collapseOne">Referentiels</button></h2></div>

          <div class="row text-center float-right">
            <div id="collapseOne" class="collapse"
                     aria-labelledby="headingOne"
                     data-parent="#myAccordion">
              <div class="card-body">
                <button class="tablinks col-md-12 p-2 bg-warning"
                        [formControlName]="'referentiels'"
                *ngFor="let item of referentiels">{{item.libelle}}</button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div><input type="file" name="file"
                  [formControlName]="'file'"
                  class="form-control shadow-lg"></div>
      <div><button class="btn btn-outline-danger  rounded mt-3 mb-3"
                   [disabled]="!formPromo.valid">Enregistrer</button></div>

       </form>
      </div>
     </div>
    </div>
  </div>



