{{formdata.value|json}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="margin: 5%">
  <div class="container shadow-lg register">
    <div class="row">
      <div class="col-md-3 register-left">
        <p>Coding For Your Better Live YFD!</p>
        <div ><img src= "/assets/photo/ling.jpg" alt="photo"/></div>
      </div>

      <div class="col-md-9 register-right shadow-lg p-3 mb-5 bg-white rounded ">
        <form [formGroup]="formdata" (ngSubmit)="onSubmit()">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home"
                 role="tabpanel" aria-labelledby="home-tab">
              <div class="card-header text-center shadow-lg"
                   style="background: -webkit-linear-gradient(left, #FFB88C, #DE6262)">
                Modification d'un Utilisateur</div>
              <div class="">
                <div class=" col-md-12 mt-5 mb-3" >
                  <div class="" >
                    <img src="{{url}}" alt="" style="width: 8em; height:8em;">
                  </div>
                </div>

                <div class="col-md-10">
                  <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text"
                           name="nom"
                           id="nom"
                           class="form-control shadow-lg"
                           placeholder="Nom*"
                           title="Entre votre nom"
                           autofocus
                           [formControlName]="'nom'">
                  </div>
                  <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input type="text"
                           name="prenom"
                           id="prenom"
                           class="form-control shadow-lg"
                           placeholder="Prenom *"
                           title="Entre votre Prenom"
                           [formControlName]="'prenom'">
                  </div>

                  <div class="form-group">
                    <label for="email">Username</label>
                    <input type="text"
                           id="username"
                           name="telephone"
                           class="form-control shadow-lg"
                           placeholder= " username *"
                           title="Entre votre username"
                           [formControlName]="'username'">
                  </div>


                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control shadow-lg"
                           placeholder= " Email *"
                           title="Entre votre email"
                           [formControlName]="'email'">
                  </div>

                  <div class="form-group">
                    <label for="email">Telephone</label>
                    <input type="text"
                           id="telephone"
                           name="telephone"
                           class="form-control shadow-lg"
                           placeholder= " telephone *"
                           title="Entre votre telephone"
                           [formControlName]="'telephone'">
                  </div>

                  <div class="form-group">
                    <div class="maxl">
                      <label >Gender</label><br>
                      <label class="radio inline">
                        <input type="radio" name="gender" value="homme" [formControlName]="'gender'" >
                        <span> Homme </span>
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="gender" value="femme" [formControlName]="'gender'">
                        <span>Femme </span>
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label >Profils</label>
                    <select class=" form-control shadow-lg form-select" [formControlName]="'profils'">
                      <option *ngFor="let p of profils" value="api/admin/profils/{{p.id}}" readonly>{{p.libelle}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <input type="file"
                           name="photo"
                           id="photo"
                           class="form-control shadow-lg"
                           placeholder="choisir un ficher *"
                           value=""
                           [formControlName]="'photo'"
                           (change)="handleFileInput($event)">
                  </div>
                  <input type="submit" class="btn btn-warning"
                         style="background: #FFB88C"
                         value="Enregistrer">
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
