<div class="row justify-content-center">
<div class="card " style="margin-top: 5%; width: 30rem;
background: -webkit-linear-gradient(left, #DE6262, #FFB88C)" >
<div class="row justify-content-center align-items-center" >
<form>
  <div class="form-group">
    <label for="formGroupExampleInput"> Libelle</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" Libelle">
  </div>
  <div class="row justify-content-end">
  <button class="btn btn-outline-danger">Ajouter</button>
    </div>
</form>
</div>
</div>
</div>
